<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth</title>
    <style>
        body{
            color: #fff;
            margin:0 10% ;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

        }
        a{
            width: 100%;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            padding: 10px;
        }

    </style>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../static/images/earthh.jpeg); background-size:cover;">
    <h1>Our Mission</h1>
    <h2>Earth</h2>
    <p>Earth, our cherished home in the vast cosmos, is a remarkable celestial body orbiting the Sun in the Milky Way galaxy. <br>
        It's the third planet from the Sun, known for its breathtaking diversity. With lush rainforests, towering mountains,<br>
         expansive oceans, and a kaleidoscope of life forms, Earth stands as a testament to the wonders of the universe. Home to over 7.9 billion humans, Earth's rich history, cultures, and landscapes offer boundless opportunities for intergalactic tourists to explore. From the serene beauty of tropical islands to the grandeur of ancient cities, Earth is an unparalleled destination, beckoning travelers from across the cosmos to witness its splendor.</p>
    

    <div>
        <div class="flex-container">
            <h5>Orbit Frequecy</h5>
            <p>Every 90 minutes</p>
            
        </div>
        <div class="flex-container">
            <h5>Mission Duration</h5>
            <p>10 days</p>
        </div>
        <div class="flex-container">
            <h5>Altitude</h5>
            <p>~400 km</p>
        </div>
        <div class="flex-container">
            <h5>Seating</h5>
            <p>4 pessengers</p>
        </div>
        <div class="flex-container">
            <h5>Cargo</h5>
            <p>Upto 192kg cargo</p>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%; text-align: center;">
        <a href="mailto:rayyans898@gmail.com">Join A Mission</a>
   </div>
</body>
</html>