<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars</title>
    <style>
        body{
            color: #fff;
            margin:0 10% ;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

        }
        a{
            width: 100%;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            padding: 10px;
        }

    </style>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../static/images/Mars.jpeg)">
    <h1>Our Mission</h1>
    <h2>Mars</h2>
    <p>Mars, often referred to as the "Red Planet," is the fourth planet from the Sun in our solar system. Mars is known for its reddish appearance, which is due to iron oxide (rust) on its surface. It has long captivated human imagination and scientific curiosity.
        Mars has been a focal point for space exploration, with numerous missions aimed at studying its geology, climate, and potential for past or present life. Notable missions like the Mars rovers, including Curiosity and Perseverance, have provided valuable data about the planet's surface and atmosphere. It is considered a prime candidate for future human colonization and is a key target for ongoing efforts to understand the potential for life beyond Earth.</p>
    <div>
        <div class="flex-container">
            <h5>Orbit Frequecy</h5>
            <p>Every 90 minutes</p>
            
        </div>
        <div class="flex-container">
            <h5>Mission Duration</h5>
            <p>10 days</p>
        </div>
        <div class="flex-container">
            <h5>Altitude</h5>
            <p>~400 km</p>
        </div>
        <div class="flex-container">
            <h5>Seating</h5>
            <p>4 pessengers</p>
        </div>
        <div class="flex-container">
            <h5>Cargo</h5>
            <p>Upto 192kg cargo</p>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%; text-align: center;">
        <a href="mailto:rayyans898@gmail.com">Join A Mission</a>
   </div>
</body>
</html>