<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon</title>
    <style>
        body{
            color: #fff;
            margin:0 10% ;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

        }
        a{
            width: 100%;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            padding: 10px;
        }

    </style>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../static/images/Moon.jpeg);background-repeat: no-repeat; background-size: cover;">
    <h1>Our Mission</h1>
    <h2>Moon</h2>
    <p>The Moon, Earth's only natural satellite, holds a special place in human history and imagination. Orbiting at an average distance of about 238,855 miles (384,400 kilometers) from Earth, the Moon has been a source of fascination for millennia. Its phases, from the waxing crescent to the full moon and waning crescent, have inspired poetry, art, and cultural traditions Beyond its cultural significance, the Moon plays a crucial role in Earth's tides and stabilizes our planet's axial tilt, which is essential for maintaining stable seasons. In recent decades, it has also become a target for space exploration, with numerous missions sent to study its surface and geology. Its stark, cratered landscape and potential resources have sparked dreams of lunar colonization and further space exploration.</p>
    <div>
        <div class="flex-container">
            <h5>Orbit Frequecy</h5>
            <p>Every 90 minutes</p>
        </div>
        <div class="flex-container">
            <h5>Mission Duration</h5>
            <p>10 days</p>
        </div>
        <div class="flex-container">
            <h5>Altitude</h5>
            <p>~400 km</p>
        </div>
        <div class="flex-container">
            <h5>Seating</h5>
            <p>4 pessengers</p>
        </div>
        <div class="flex-container">
            <h5>Cargo</h5>
            <p>Upto 192kg cargo</p>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%; text-align: center;">
        <a href="mailto:rayyans898@gmail.com">Join A Mission</a>
   </div>
</body>
</html>