<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon</title>
    <style>
        body{
            color: #fff;
            margin:0 10% ;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

        }
        a{
            width: 100%;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            padding: 10px;
        }

    </style>
</head>
<body style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../static/images/SpaceCraft.jpeg)">
    <h1>Our Mission</h1>
    <h2>Space Ship</h2>
    <p>Spaceship, a marvel of human ingenuity, represents the pinnacle of intergalactic travel. These spacecraft are advanced vessels designed for traversing the cosmos. Equipped with cutting-edge technology, they serve as conduits for venturing beyond Earth's atmosphere into the great expanse of space. Spaceships come in various forms, from sleek, futuristic shuttles to colossal starships capable of long-haul journeys to distant galaxies. These remarkable vehicles make space exploration and tourism a reality, offering passengers a chance to witness the wonders of the universe firsthand. As humanity continues to push the boundaries of space travel, spaceships stand as the bridge between Earth and the cosmos, opening up new horizons for adventurous travelers.</p>
    <div>
        <div class="flex-container">
            <h5>Orbit Frequecy</h5>
            <p>Every 90 minutes</p>
            
        </div>
        <div class="flex-container">
            <h5>Mission Duration</h5>
            <p>10 days</p>
        </div>
        <div class="flex-container">
            <h5>Altitude</h5>
            <p>~400 km</p>
        </div>
        <div class="flex-container">
            <h5>Seating</h5>
            <p>4 pessengers</p>
        </div>
        <div class="flex-container">
            <h5>Cargo</h5>
            <p>Upto 192kg cargo</p>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%; text-align: center;">
        <a href="mailto:rayyans898@gmail.com">Join A Mission</a>
   </div>
</body>
</html>