<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Station</title>
    <style>
        body{
            color: #fff;
            margin:0 10% ;
        }
        .flex-container{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;

        }
        a{
            width: 100%;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            padding: 10px;
        }

    </style>
</head>
<body style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../static/images/Station.jpeg) no-repeat center center/cover">
    <h1>Our Mission</h1>
    <h2>Space Station</h2>
    <p>Space Station, a symbol of international collaboration and scientific progress, is a remarkable human-made structure orbiting Earth. These colossal habitats, such as the International Space Station (ISS), serve as microgravity laboratories where astronauts conduct groundbreaking research in various fields, including biology, physics, and astronomy. These space stations provide a home for astronauts for extended periods, allowing them to study the effects of long-term space living. With their advanced technology and vital role in space exploration, space stations represent our aspirations to explore beyond Earth, fostering cooperation among nations and pushing the boundaries of our understanding of the cosmos.</p>
    <div>
        <div class="flex-container">
            <h5>Orbit Frequecy</h5>
            <p>Every 90 minutes</p>
            
        </div>
        <div class="flex-container">
            <h5>Mission Duration</h5>
            <p>10 days</p>
        </div>
        <div class="flex-container">
            <h5>Altitude</h5>
            <p>~400 km</p>
        </div>
        <div class="flex-container">
            <h5>Seating</h5>
            <p>4 pessengers</p>
        </div>
        <div class="flex-container">
            <h5>Cargo</h5>
            <p>Upto 192kg cargo</p>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%; text-align: center;">
        <a href="mailto:rayyans898@gmail.com">Join A Mission</a>
   </div>
</body>
</html>